RewriteEngine on
RewriteRule ^danh-muc.html$ index.php?mod=menu&act=list [L]
RewriteRule ^tin-tuc.html$ index.php?page=news&act=list [L]

RewriteRule ^[a-z_-]+/[a-z_-]+/([0-9]+).html$ index.php?page=product&act=list&cid=$1
